.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge.selectable:focus .react-flow__edge-path,
.react-flow__edge.selectable:focus-visible .react-flow__edge-path {
    stroke: #43ffa7;
    stroke-dasharray: 5;
    animation-name: animate-stroke;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes animate-stroke {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 100;
    }
}